{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  <!-- Journal articles -->
  {% if publications.papers %}
  <h2 class="subsection-title">
    <span class="fa-stack fa-xs">
    </span>
      Journal Articles
  </h2>
  <div class="item">
    <ul class="publications-list">
  {% for publication in publications.papers %}
    <li class="publication-item"> <div class="publication-title">{{ publication.title }}.</div> {{ publication.authors }}. {{ publication.journal }}.
    {% if publication.year %}
      ({{ publication.year }})
    {% endif %}
    {% if publication.link %}
      <a href="{{ publication.link }}">{{ publication.link }}</a>
    {% endif %}
    </li>
  {% endfor %}
    </ul>
  </div><!--//item-->
  {% endif %}
  
  <!-- Pre-prints -->
  {% if publications.preprints %}
  <h2 class="subsection-title">
    <span class="fa-stack fa-xs">
    </span>
     Pre-prints 
  </h2>
  <div class="item">
    <ul class="publications-list">
  {% for publication in publications.preprints %}
    <li class="publication-item"> <div class="publication-title">{{ publication.title }}.</div> {{ publication.authors }}. 
    {% if publication.year %}
      ({{ publication.year }})
    {% endif %}
    {% if publication.link %}
      <a href="{{ publication.link }}">{{ publication.link }}</a>
    {% endif %}
    </li>
  {% endfor %}
    </ul>
  </div><!--//item-->
  {% endif %}

  <!-- Other -->
  {% if publications.other %}
  <h2 class="subsection-title">
    <span class="fa-stack fa-xs">
    </span>
    Other
  </h2>
  <div class="item">
    <ul class="publications-list">
  {% for publication in publications.other %}
  <li class="publication-item"> <div class="publication-title">{{ publication.title }}.</div> {{ publication.authors }}. 
    {% if publication.type %}
      {{ publication.type }}.
    {% endif %}
    {% if publication.year %}
      ({{ publication.year }})
    {% endif %}
    {% if publication.link %}
      <a href="{{ publication.link }}">{{ publication.link }}</a>
    {% endif %}
    </li>
  {% endfor %}
    </ul>
  </div><!--//item-->
  {% endif %}


</section><!--//section-->
{% endif %}
