{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.position %}
    <h3 class="position">{{ sidebar.position }}</h3>
    {% endif %}
    {% if sidebar.company %}
    <h3 class="company">{{ sidebar.company }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

</div><!--//sidebar-wrapper-->
